.bg-home {
  background-color: black;
}
.home-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px !important;
}
.home-cards {
  box-shadow: 0 0 10px 10px rgb(10 10 10 / 10%);
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
.home-cards > .col-lg-12 {
  padding: 0 10px;
  height:100%;
}
.home-cards > .col-lg-12 .col-lg-9 {
  padding: 0 10px;
}
.home-cards:hover {
  background-color: #00454b;
}
.home-component{
  background: #00454b;
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .home-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 768px) {
  .home-grid-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 769px) and (max-width: 1024px) {
  .home-grid-container {
    min-height: initial;
  }
}
