.post-button {
    height: 50px;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0px;
    float: right;
    background-color: #f27c21 !important;
    border: none;
    letter-spacing: 3px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    padding: 0px 20px;
}