.body-outer {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
}
.body-left {
  /* border-radius: 10px; */
  float: left;
  margin-bottom: 20px;
}

.bodylft-content {
  position: relative;
  z-index: 22;
}
.jobSeekerbody-area {
  background: #eeeeee;
  float: left;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 10px 10px 0px;
  width: 100%;
}
.jobSeekermain-wrapper {
  width: 100%;
  margin: 0;
  background: #eeeeee;
  /* overflow: hidden; */
  /* padding: 30px 0 0; */
}
.left-body-main-container {
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  min-height: 700px;
}
.common_top_body {
  padding: 2% 2% 0 2%;
}
.carousel-inner > .item {
  height: 400px;
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-inner .header-text {
  position: absolute;
  bottom: 70px;
  color: #fff;
}
.carousel-inner .header-text h3 {
  font-size: 26px;
  font-weight: 700;
}
.jobseeker-main {
  max-width: initial;
  background: #323754;
}
.jobseeker-main .navbar-inverse .navbar-nav > .active > a,
.jobseeker-main .sign-in-bt-top,
.jobseeker-main .viewas button,
.jobseeker-main .viewas .dropdown .dropdown-menu {
  background-color: #00bcd4 !important;
}
.jobseeker-main .main-logo{
    background: url('../img/logo-2-seek.svg') no-repeat center / cover;
}
.jobseeker-main .top-select{
  border-color: #00bcd4;
}
.carousel-inner .header-text h3 {
    font-size: 26px;
    font-weight: 700;
}
.right-body-main-container {
    padding: 10px;
}
.xs_padding {
    padding-left: 15px;
}
.showing {
    display: block;
    padding-bottom: 20px;
}
.job_titles {
    color: #269ECA;
    font-size: 12px;
    font-weight: bold;
}
.jobs {
    padding: 10px 0px;
    border-bottom: thin solid #e1e1e1;
}
.jobs a {
    color: #383838 !important;
}

.job_title {
    color: #269ECA;
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.job_title span {
    color: #269ECA;
    font-size: 14px;
}
.companyname {
    font-size: 12pt;
}

.where {
    color: #666;
    font-size: 12pt;
    white-space: nowrap;
}

.apply {
    color: #269ECA;
    display: block;
    margin-bottom: 10px;
}
