.logo.main-logo-box {
  display: grid;
  gap: 10px;
  grid-template-columns: 40px auto;
}
.main-logo {
  height: 40px;
  width: 40px;
  border-radius: 2px;
  display: inline-block;
  background: url("../img/logo-2.svg") no-repeat center / cover;
}
.logo-name {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
}
.logo-name > span:last-child {
  font-weight: bold;
}
.banner-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-10{
    margin-right:10px;
}
@media only screen and (max-width: 768px) {
  .logo.main-logo-box {
    padding-left: 15px;
  }
}
