@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Oxygen:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');




body {
	background: #00454b;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.body-outer {
	max-width: 1366px;
	margin: 0 auto;
	overflow: hidden;
}
.body-outer-registration {
	max-width: 1366px;
	margin: 0 auto;
	overflow: auto;
	height: 100%;
}
.main-wrapper {
	width: 100%;
	margin: 0;
	background: #eeeeee;
	overflow: hidden;
	padding: 30px 0 0 0;
	min-height:80vh;
}

header {
	margin: 0 auto;
	padding: 0;
	top: 0;
	z-index: 9999;
	max-width: 1366px;
}
.logo {
	width: 15%;
	float: left;
}
.top-nav {
	width: 66%;
	float: left;
}
.sign-in-bt-top {
	width: 100px;
}
.sign-in-bt-top {
	background: #f27c21;
	padding: 0px 18px;
	text-transform: uppercase;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	line-height: 30px;
	margin-top: 10px;
	border: none;
}
.sign-in-bt-top a:hover {
	text-decoration: none;
	background: #FFF;
	color: #269abc;
}
.body-area {
	background: #eeeeee;
	float: left;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 10px 10px 0px;
	width: 100%;
}









