@charset "utf-8";
/* CSS Document */
.logo {
	display: block;
	float: left;
	padding-right: 30px;
}
/*MENU AREA*/

.navbar-inverse {
	background-color: transparent !important;
	border: none;
	margin: 0px;
}
.navbar-nav {
	font-size: 15px;
	color: #FFF;
}

.navbar-nav .active{
background-color: #269abc!important;
}

.dropdown-menu {
	width: 100%;
}
.nav a {
	color: #fff !important;
}
.nav a:link {
	color: #fff !important;
}
.nav a:hover {
	background-color: #269abc !important;
}
.nav a:visited {
	background-color: #269abc !important;
}
.nav a:active {
	background-color: #269abc !important;
}
.nav > li.dropdown.open {
	position: static;
	background-color: #269abc;
}
.nav > li.dropdown.open .dropdown-menu {
	display: table;
	width: 100%;
	text-align: left;
	left: 0;
	right: 0;
	border-radius: 0px;
	background-color: #269abc;
	border: none;
	color: #fff;
}
.dropdown-menu > li {
	display: table-cell;
	min-width: 10%;
	float: left;
	padding: 0px;
}
.dropdown-menu > li > a {
	color: #fff;
}
.dropdown-menu > li > a:hover {
	color: #fff;
	background-color: transparent;
	text-decoration: underline;/*font-weight: bold;*/
}
.notification-dropdown {
	position: absolute;
	right: 10%;
	margin-top: 10px;
	padding-bottom: 8px;
}
.notification-dropdown button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	width: 40px;
	text-align: left;
	background-color: transparent !important;
	padding: 4px;
}
.notification-dropdown button span {
	font-size: 12px;
	color: #F00;
}
.notification-dropdown button:hover {
	border: none;
	background-color: transparent !important;
	color: white !important;
}
.notification-dropdown button:active {
	border: none;
	background-color: transparent !important;
	color: white !important;
}
.notification-dropdown button:focus {
	border: none;
	background-color: transparent !important;
	color: white !important;
}
.notification-dropdown .dropdown-menu {
	background-color: #f9f9f9;
	width: 300px;
	padding: 0px;
	border: thin solid #d9d9d9;
	text-align: left;
	border-radius: 0px;
	font-size: 12px;
	background-color: #f9f9f9;
	padding: 0px;
	border: thin solid #d9d9d9;
	text-align: left;
	box-shadow: none;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: visible;
	margin-left: -125px;
	-webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 0 2px 6px 1px rgba(0,0,0,0.3);
}
.list-notifications {
	padding: 10px;
	border-bottom: thin solid #CCC;
}
.list-notifications img {
	height: 14px;
	width: auto;
	padding-right: 5px;
}
.list-notifications a {
	color: #383838 !important;
	font-size: 12px !important;
	text-decoration: none;
	display: flex;
}
.viewall {
	border-top: 1px solid #dadada;
	background-color: #eeeeee;
}
.right_menu {
	position: absolute;
	right: 0px;
	margin-top: 10px;
}
.right_menu .btn-primary, .right_menu .btn-primary.active.focus, .right_menu .btn-primary.active:focus, .right_menu .btn-primary.active:hover, .right_menu .btn-primary:active.focus, .right_menu .btn-primary:active:focus, .right_menu .btn-primary:active:hover, .right_menu .open>.dropdown-toggle.btn-primary.focus, .right_menu .open>.dropdown-toggle.btn-primary:focus, .right_menu .open>.dropdown-toggle.btn-primary:hover {
	background-color: transparent;
	border-color: transparent;
}
.right_menu .btn:focus, .right_menu .btn:active:focus, .right_menu .btn.active:focus, .right_menu .btn.focus, .right_menu .btn:active.focus, .right_menu .btn.active.focus {
	outline: none;
	outline-offset: 0;
}
.right_menu .dropdown-menu {
	margin: 16px -10px 0 0px;
	padding: 0;
	border-radius: 0px;
	min-width: 200px;
	box-shadow: none;
}
.right_menu .btn:active, .right_menu .btn.active {
	box-shadow: none;
}
.right_menu .open .dropdown-menu:after {
	content: "";
	position: absolute;
	right: 0px;
	top: -11px;
	left: 0;
	margin: 0 auto 0 160px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 11px 11px 11px;
	border-color: transparent transparent #9e9e9e transparent;
	z-index: 9998;
}
.right_menu .open .dropdown-menu:before {
	content: "";
	position: absolute;
	right: 0px;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ffffff transparent;
	z-index: 9999;
	left: 0;
	right: 0;
	margin: 0 auto 0 161px;
}
.right_menu .dropdown-menu li {
	border-bottom: 1px solid #e2e2e2;
	font-size: 14px !important;
	width: 100%;
	color: #57678b;
}
.right_menu .dropdown-menu li a {
	line-height: 30px;
	color: #57678b !important;
}
.right_menu .dropdown-menu li a:hover {
	background-color: #f6f6f6 !important;
	color: #2e87c1 !important;
	text-decoration: none !important;
	font-weight: normal !important;
}
.drop-section-about {
	background-color: #eeeeee;
}
.drop-section-about a {
	color: #999999 !important;
}
.drop-section-about a:hover {
	color: #57678b !important;
}
.top-select {
	border-top: 2px solid #00bcd4;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}
.viewas {
	display: inline-block;
	color: #fff;
	width: 260px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.viewas img {
	height: 24px;
	width: auto;
}
.viewas button {
	background-color: #00bcd4 !important;
	width: 260px;
	border: none;
	height: 45px;
	vertical-align: middle;
	border-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: url(../img/top-drpdn-white.png);
	background-position: calc(100% - 15px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - 15px) 2em;
	background-repeat: no-repeat;
	text-align: left;
	z-index: 1000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
}
.viewas .dropdown .dropdown-menu {
	background-color: #00bcd4;
	padding-left: 14px;
	color: #fff;
	margin-top: -11px;
	width: 260px;
	border: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height:auto;
	padding-top: 10px;
	font-size: 12px;
	box-shadow: none;
}
.viewas .dropdown .dropdown-menu a {
	text-decoration: none;
	color: #FFF;
	display:block;
	padding-bottom:5px;
}
.slideTogglebox {
	padding: 10px;
	list-style: none;
	background-color: #00bcd4;
	-webkit-animation: expand 0.10s ease-out;
	text-align: left;
	display: none;
	position: relative;
	width: 260px;
	z-index: 900;
}
.slideTogglebox a {
	text-decoration: none !important;
	color: #FFF !important;
}

/* Placeholder and selected option */


/* Breadcrumb Start */


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}


.breadcrumb > li {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.breadcrumb > *:nth-child(n+1) {
  display:none;
}
.invisible{display:none;}
/* === For phones =================================== */
@media (max-width: 767px) {
    .breadcrumb  > *:nth-last-child(-n+2) {
        display:inline;
		border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
    } 
    .breadcrumb  > * {
        max-width: 60px;
    }
	
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .breadcrumb  > *:nth-last-child(-n+4) {
        display:inline;
    } 
    .breadcrumb  > * {
        max-width: 100px;
    }

}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .breadcrumb  > *:nth-last-child(-n+6) {
        display:inline;
    } 
    .breadcrumb  > * {
        max-width: 170px;
    }

}    


/* Breadcrumb End */




@media only screen and (max-width : 320px) {
.notification-dropdown {
	Width: 50px !important;
	right: 20%;
	position: absolute;
}
.notification-dropdown button {
	width: 50px;
}
.notification-dropdown .dropdown-menu {
	width: 315px !important;
	position: absolute;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	margin-left: -205px;
}
.right_menu .dropdown-menu li {
	width: 100%;
	background-color: #FFF;
}
.right_menu .dropdown-menu li a {
	color: #57678b !important;
}
.right_menu .dropdown-menu li a:hover {
	background-color: #f6f6f6 !important;
	color: #2e87c1;
	text-decoration: none !important;
	font-weight: normal !important;
}
.drop-section-about {
	background-color: #eeeeee !important;
}
.drop-section-about a {
	color: #999999 !important;
}
.drop-section-about a:hover {
	color: #57678b !important;
}
.right_menu .open .dropdown-menu:after {
	border-color: transparent;
}
.right_menu .open .dropdown-menu:before {
	border-color: transparent;
}
}
 @media only screen and (min-device-width : 321px) and (max-device-width : 360px) {
.notification-dropdown {
	Width: 50px !important;
	right: 15%;
	position: absolute;
}
.notification-dropdown button {
	width: 50px;
}
.notification-dropdown .dropdown-menu {
	width: 355px !important;
	position: absolute;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	margin-left: -255px;
}
.right_menu .dropdown-menu li {
	width: 100%;
	background-color: #FFF;
}
.right_menu .dropdown-menu li a {
	color: #57678b !important;
}
.right_menu .dropdown-menu li a:hover {
	background-color: #f6f6f6 !important;
	color: #2e87c1;
	text-decoration: none !important;
	font-weight: normal !important;
}
.drop-section-about {
	background-color: #eeeeee !important;
}
.drop-section-about a {
	color: #999999 !important;
}
.drop-section-about a:hover {
	color: #57678b !important;
}
.right_menu .open .dropdown-menu:after {
	border-color: transparent;
}
.right_menu .open .dropdown-menu:before {
	border-color: transparent;
}
}
 @media only screen and (min-device-width : 361px) and (max-device-width : 384px) {
.notification-dropdown {
	Width: 50px !important;
	right: 15%;
	position: absolute;
}
.notification-dropdown button {
	width: 50px;
}
.notification-dropdown .dropdown-menu {
	width: 380px !important;
	position: absolute;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	margin-left: -275px;
}
.right_menu .dropdown-menu li {
	width: 100%;
	background-color: #FFF;
}
.right_menu .dropdown-menu li a {
	color: #57678b !important;
}
.right_menu .dropdown-menu li a:hover {
	background-color: #f6f6f6 !important;
	color: #2e87c1;
	text-decoration: none !important;
	font-weight: normal !important;
}
.drop-section-about {
	background-color: #eeeeee !important;
}
.drop-section-about a {
	color: #999999 !important;
}
.drop-section-about a:hover {
	color: #57678b !important;
}
.right_menu .open .dropdown-menu:after {
	border-color: transparent;
}
.right_menu .open .dropdown-menu:before {
	border-color: transparent;
}
}
 @media only screen and (min-device-width : 412px) and (max-device-width : 736px) {
.notification-dropdown {
	Width: 50px !important;
	right: 15%;
	position: absolute;
}
.notification-dropdown button {
	width: 50px;
}
.notification-dropdown .dropdown-menu {
	width: 410px !important;
	position: absolute;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	margin-left: -300px;
}
.right_menu .dropdown-menu li {
	width: 100%;
	background-color: #FFF;
}
.right_menu .dropdown-menu li a {
	color: #57678b !important;
}
.right_menu .dropdown-menu li a:hover {
	background-color: #f6f6f6 !important;
	color: #2e87c1;
	text-decoration: none !important;
	font-weight: normal !important;
}
.drop-section-about {
	background-color: #eeeeee !important;
}
.drop-section-about a {
	color: #999999 !important;
}
.drop-section-about a:hover {
	color: #57678b !important;
}
.right_menu .open .dropdown-menu:after {
	border-color: transparent;
}
.right_menu .open .dropdown-menu:before {
	border-color: transparent;
}
}
