.padding-0{
    padding:0!important;
}
.padding-left-0{
    padding-left:0!important;
}
.padding-right-0{
    padding-right:0!important;
}
.padding-top-0{
    padding-top:0!important
}
.padding-bottom-0{
    padding-bottom:0!important
}
.padding-left-15{
    padding-left:15!important
}
.margin-0{
    margin: 0!important;
}
.margin-left-0{
    margin-left:0!important;
}
.margin-right-0{
    margin-right:0!important;
}
.margin-top-0{
    margin-top:0!important
}
.margin-bottom-0{
    margin-bottom:0!important
}
.w-100{
    width: 100%!important;
}
.w-50{
    width: 50% !important;
}
.text-white{
    color: #fff;
}
.border-radius-3{
    border-radius: 3px;
}
